@font-face {
  font-family: "Pirata One";
  src: url("../fonts/PirataOne-Gloomhaven.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "High Tower";
  src: url("../fonts/HighTower-Gloomhaven.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
